<html>
<head>
    <title>Calculadora</title>
</head>
<body>
    <h2>Calculadora Web</h2>
    <form id="calculadoraForm">
        <input type="number" id="num1" required>
        <select id="operador" required>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" id="num2" required>
        <button type="button" onclick="calcular()">Calcular</button>
    </form>
    <p id="resultado"></p>

    <script>
        function calcular() {
            var num1 = parseFloat(document.getElementById('num1').value);
            var operador = document.getElementById('operador').value;
            var num2 = parseFloat(document.getElementById('num2').value);

            fetch(`/calculadora/calcular/${num1}/${operador}/${num2}/`)
                .then(response => response.json())
                .then(data => {
                    if ('resultado' in data) {
                        document.getElementById('resultado').innerText = `Resultado: ${data.resultado}`;
                    } else if ('error' in data) {
                        document.getElementById('resultado').innerText = `Error: ${data.error}`;
                    }
                });
        }
    </script>
</body>
</html>
